.close-btn-svg:hover {
    filter: drop-shadow(0 0 0.5px rgba(30, 64, 175, 1));
}
.show-details-btn {
    -webkit-tap-highlight-color: transparent;
}
.react-calendar {
    border-radius: 8px;
    background-color: rgb(249 250 251) !important;
    border: none !important;
    width: max-content !important;
    /* min-width: 200px !important; */
}
abbr[title] {
    text-decoration: none;
}
.react-calendar__tile--now {
    background: rgb(216, 216, 216) !important;
    border-radius: 5px;
}
.react-calendar__month-view__days__day--weekend {
    color: rgb(0, 0, 97) !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(187, 187, 187) !important;
}
.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(187, 187, 187) !important;
}
.react-calendar__tile--active {
    border-radius: 5px;
    background-color: rgb(37 99 235) !important;
}
.react-calendar__month-view__days__day--weekend.react-calendar__tile--active {
    color: white !important;
}
.chevronClosedToOpen {
    animation: chevronClosedToOpen_anim 400ms cubic-bezier(0.8,0,0.2,1) 0s 1 normal forwards;
}
.chevronOpenToClosed {
    animation: chevronOpenToClosed_anim 400ms cubic-bezier(0.8,0,0.2,1) 0s 1 normal forwards;
}
@keyframes chevronClosedToOpen_anim {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
@keyframes chevronOpenToClosed_anim {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}